# Sample configuration file
# Except for the DEVICE_IP, these are the settings used by default.
# To override them, copy this file to "config" and adjust it to your needs.
# Of course you can ommit (remove/comment out) settings which do not differ from yours
# (e.g. have your "config" file only holding the DEVICE_IP)

# ------------------------=[ directories ]=--
# base below which all output (scripts and real backups) are placed
STORAGE_BASE=
# where to place the "real backups" (relative to "${STORAGE_BASE}/${OUTDIR}"
USERDIR="userApps"
SYSDIR="sysApps"

# ---------------------=[ TiBu specifics ]=--
# IP of the Android device
DEVICE_IP="192.168.101.111"
# port the built-in TiBu web server listens to
TIBU_PORT="8080"
# URL path to the pull-able stuff
TIBU_SDINT="/storage/INTERNAL/Storage-ALL.zip"
TIBU_SDEXT="/storage/SAMSUNG_EXT_SD_CARD/Storage-ALL.zip"
TIBU_BACKUPS="/TitaniumBackup-ALL.zip"
