# Sample configuration file
# Except for the DEVICE_IP, these are the settings used by default.
# To override them, copy this file to "config" and adjust it to your needs.
# Of course you can ommit (remove/comment out) settings which do not differ from yours
# (e.g. have your "config" file only holding the DEVICE_IP)

# ------------------------=[ directories ]=--
# base below which all output (scripts and real backups) are placed
STORAGE_BASE=
# where to place the "real backups" (relative to "${STORAGE_BASE}/${OUTDIR}")
USERDIR="userApps"
SYSDIR="sysApps"
# documentary files can have their own place (again, relative to "${STORAGE_BASE}/${OUTDIR}")
DOCDIR="docs"
# similar for pulled configuration files
CONFDIR="conf"

# -------------------=[ device specifics ]=--
# Serial of the device. Useful when multiple devices are connected.
#SERIAL="1234567890ABCDEF"

# ---------------------=[ TiBu specifics ]=--
# IP of the Android device
DEVICE_IP="192.168.101.111"
# port the built-in TiBu web server listens to
TIBU_PORT="8080"
# URL path to the pull-able stuff
TIBU_SDINT="/storage/INTERNAL/Storage-ALL.zip"
TIBU_SDEXT="/storage/SAMSUNG_EXT_SD_CARD/Storage-ALL.zip"
TIBU_BACKUPS="/TitaniumBackup-ALL.zip"

# ---------------------------=[ Features ]=--
# 1=enabled, 0=disabled; whether to ...
# the script to "freeze/disable" apps
MK_APPDISABLE=1
# create the script to backup user apps+data / system app-data
MK_USERBACKUP=1
MK_SYSBACKUP=1
# pull settings/configs from the device
PULL_SETTINGS=1
# create the script to pull stuff from the TiBu web server
MK_TIBU=1
# process packages.xml for further details (requires PHP-cli)
MK_PKG_DATA=1
# deal with the default-install-location (where apps should be installed)
MK_INSTALLLOC=1
# Create deviceInfo.md
MK_DEVICEINFO=1

# -------------------------------=[ Misc ]=--
# Show progress in terminal (0=disabled, 1..3 are verbosity levels)
PROGRESS=1
